RewriteEngine On

RewriteCond %{HTTP_HOST} ^www\.(.*)$
RewriteRule ^(.*)$ http://%1/$1 [L,R=301] 

RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://duckcoders.com/$1 [R=301,L] 

RewriteRule ^index\.html$ / [R=301,L]
RewriteRule ^(.*)/index\.html$ /$1/ [R=301,L]

ErrorDocument 404 /404.html