# RewriteEngine On

# RewriteCond %{HTTPS} !=on
# RewriteCond %{HTTP_HOST} ^www.duckcoders\.pl$ [NC]
# RewriteRule ^(.*)$ https://duckcoders.pl/$1 [R=301,L]

# RewriteCond %{HTTPS} !=on
# RewriteRule ^(.*)$ https://duckcoders.pl/$1 [R=301,L] 

ErrorDocument 404 /404.html